.profile__left {
  margin-bottom: 26px;
}

@media screen and (min-width: 625px) {
  .profile__left {
    margin-bottom: 0;
  }
}

.profile__left {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.profile__left .profile__avatar {
  height: 120px;
}
.profile__left:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.8) url('../../../images/Vector.svg') no-repeat 50%
    50%;
  width: 120px;
  height: 150px;
  margin: -75px 0 0 -60px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.profile__left:hover:before {
  opacity: 1;
}
