.cards__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 622px) {
  .cards__list {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 924px) {
  .cards__list {
    grid-template-columns: repeat(3, auto);
    gap: 20px 17px;
  }
}
